---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import "../styles/layouts/blogPost.scss";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Nav />
    <main>
      <article>
        {heroImage && <img src={heroImage} alt="" />}
        <div class="article-header">
          <h1 class="title">{title}</h1>
          {pubDate && <time>{pubDate}</time>}
          {
            updatedDate && (
              <div>
                Last updated on <time>{updatedDate}</time>
              </div>
            )
          }
        </div>
        <hr />
        <slot />
      </article>
    </main>

    <script>
      // I don't like this, but it makes sure all links inside the article open in a new tab
      // compiled MDX and Markdown files set only the `href` attribute
      if (document.body.contains(document.querySelector("article"))) {
        const article = document.querySelector("article");
        const links = article!.querySelectorAll("a");
        links.forEach((link) => {
          link.target = "_blank";
          link.rel = "noopener noreferrer";
        });
      }

      // Copy the heading URL+ID
      const headings = document.body.querySelectorAll("h2, h3, h4, h5, h6");
      headings.forEach((heading) => {
        let headingName = heading.innerHTML
          .replace(/ /gi, "-")
          .replace(/[^\x00-\x7F]/g, "")
          .toLowerCase();
        heading.id = headingName;
        heading.addEventListener("click", () => {
          navigator.clipboard.writeText(
            `${window.location.href.replace(/#.*$/, "")}#${headingName}`
          );
          heading.classList.add("copied");
          setTimeout(() => {
            heading.classList.remove("copied");
          }, 1500);
        });
      });
    </script>
  </body>
</html>
